@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes dash {
  to {
      stroke-dashoffset: -10;
  }
}

.power-line {
  animation: dash 1s linear infinite;
}

.border-fade {
  border: 1px solid transparent;
  mask-image: linear-gradient(to right, #000 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, #000 70%, transparent 100%);
  background-image: linear-gradient(to right, #9C9C9C 70%, transparent 100%);
  background-origin: border-box;
  background-clip: border-box;
  pointer-events: none;
  border-radius: 8px;
}

